*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Verdana, sans-serif;
   
}
:root{
    --bg-color: #f2f7fa;
   
    }
.hero{
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 5rem;
    position: relative;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 120px;
    position: absolute;
    top: -100;
    right: 0%;
    animation: slideup 3s ease-in-out infinite;
}
video{
    width: 200px;
    height: 350px;
}
.clender{
    position: absolute;
    left: -12%;
    animation: wiggle 3s ease-in-out infinite;
    
}
@keyframes  wiggle {
    0%,100%{
        transform: rotate(300deg);
    }
    50%{
        transform: rotate(360deg);
    }
    
}
@keyframes  slideup {
    0%,100%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(0%);
    }
    
}
.timebox{
    display: flex;
    gap: 40px;

}
.time{
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background: var(--bg-color);
    box-shadow: 6px 6px 10px rgb(255, 255, 255,0.8), -6px -6px 10px rgba(0, 0, 0, 0.2);


}
.time:hover{
    box-shadow: inset 6px 6px 10px rgb(255, 255, 255,0.8), inset -6px -6px 10px rgba(0, 0, 0, 0.2);
    
}
h2{
    font-size: 5rem;
    font-weight: 500;
    color: #222;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
     color: #666;
}
.divider{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #444
}